
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/config/
.env
###< symfony/framework-bundle ###

symfony.lock

bin/console

composer.lock
